body {
  background-color: #00a896;
  color: #f0f3bd;
}
a,
.vertical-tab-link,
.links li {
  color: #05668d;
}
.vertical-tab-selected {
  color: #f0f3bd;
}
.l-header {
  background-color: #05668d;
  color: #f0f3bd;
}
.l-header a,
.l-header .links li {
  color: #f0f3bd;
}
.l-header .menu a {
  border-bottom: 1px dotted #02c39a;
}
.l-header .menu a:hover {
  background-color: #02c39a;
}
.l-header .menu a.active::after {
  background-color: #02c39a;
}
ul.primary li a,
ul.primary li a:hover {
  background-color: #f0f3bd;
  border-color: #f0f3bd;
}
ul.primary li.active a {
  background-color: #00a896;
}
.menu-tree li a.active {
  color: #f0f3bd;
}
.page-title {
  border-bottom: 1px solid #028090;
}
/**
 * Pager
 */
.pager-first,
.pager-previous,
.pager-ellipsis,
.pager-current,
.pager-next,
.pager-last,
.pager-item {
  background: #02c39a;
  color: #f0f3bd;
}
.pager-ellipsis {
  color: #586172;
}
.pager-first a,
.pager-previous a,
.pager-next a,
.pager-last a,
.pager-item a {
  color: #f0f3bd;
}
.pager-first a:hover,
.pager-previous a:hover,
.pager-next a:hover,
.pager-last a:hover,
.pager-item a:hover {
  background: #05668d;
  color: #00a896;
}
.pager-current {
  background: #888b8e;
  color: #fff;
}

/**
 * Progress Bar
 */
.progress .bar {
  border-color: #bdc3c8;
  background: #bdc3c8;
}
.progress .filled {
  background: #05668d;
}
blockquote {
  border-left: 4px solid #028090;
}
pre {
  border: 1px solid #028090;
}
fieldset,
button,
input,
optgroup,
select,
textarea {
  border: 1px solid #028090;
  color: #f0f3bd;
  background-color: #00a896;
}
.form-item-disabled input {
  background-color: #02c39a;
}
button:focus,
input:focus,
select:focus,
textarea:focus {
  border-color: #028090;
}
input.form-submit,
button.form-submit,
.button {
  color: #028090;
  border: 1px solid #00a896;
  background-color: #f0f3bd;
}
input.button-danger {
  background-color: #ff4747;
  border-color: #00a896;
}
input.form-submit:hover,
input.form-submit:focus,
button.form-submit:hover,
button.form-submit:focus,
.button:hover,
.buttom:focus {
  background-color: #f0f3bd;
  color: #028090;
  outline: 1px solid #05668d;
}
input.button-danger:hover {
  background-color: #ff4747;
  outline-color: #ff4747;
}
.button.form-delete,
.button.form-delete:hover {
  background-color: #ff4747;
  outline-color: #ff4747;
}
select {
  background-color: initial;
  border: 1px solid #028090;
}
.vertical-tabs {
  background-color: #028090;
  border: 1px solid #028090;
}
.vertical-tabs-panes {
  background-color: #00a896;
}
.vertical-tab-item {
  background-color: #02c39a;
  border: 1px solid #028090;
}
.vertical-tab-selected.vertical-tab-item {
  background-color: #00a896;
}
.vertical-tab-selected strong,
.vertical-tab-selected .fieldset-legend {
  color: #f0f3bd;
}
tr.even, tr.odd {
  border-color: #028090;
}
tr.odd {
  background-color: #02c39a;
}
td.active {
  background-color: #f0f3bd;
}
@media screen and (max-width: 1024px) {
  .l-header .menu-toggle-button {
    background-color: #f0f3bd;
    color: #05668d;
    border: 2px solid #05668d;
  }
  .menu-toggle-button-text {
    border-top: 4px solid #05668d;
  }
  .menu-toggle-button-text::before {
    border-top: 4px solid #05668d;
    border-bottom: 4px solid #05668d;
  }
  .nav-visible .menu-toggle-button-text {
    border: 4px solid #05668d;
    border-right-color: transparent;
    border-top-color: transparent;
  }
}
.block-hero {
  color: #f0f3bd;
  background-color: #05668d;
}
.l-footer {
  background-color: #00a896;
  color: #f0f3bd;
}
.l-footer a {
  color: #f0f3bd;
}
.search-block-form .form-actions {
  background-color: #f0f3bd;
}
.search-block-form .form-actions::before {
  border: 3px solid #028090;
}
.search-block-form .form-actions::after {
  border-right: 3px solid #028090;
}
.comment {
  border: 1px solid #028090;
  background-color: #02c39a;
}
.comments .indented .comment::before {
  border: 2px solid #028090;
  border-left-color: transparent;
  border-bottom-color: transparent;
}
.view-promoted .view-content > div {
  border-bottom: 1px solid #028090;
}
@media screen and (min-width: 960px) {
  .view-promoted .view-content > div:nth-child(odd) {
    border-right: 1px solid #028090;
  }
}
